<mat-card>
  <div class="taskContainer">
    <mat-checkbox (ngModelChange)="flipDone()" [ngModel]="parsedTask?.done"></mat-checkbox>
    <div [ngClass]="{'done': this.parsedTask?.done}" class="textContainer">
      <h3>{{parsedTask?.title}}</h3>
      <span>{{ parsedTask?.dueDate | date}}</span>
    </div>
    <div class="iconActionContainer">
      <button mat-icon-button matTooltipPosition="right" matTooltip="reschedule task" aria-label="reschedule">
        <mat-icon>edit_calendar</mat-icon>
      </button>
      <button mat-icon-button matTooltipPosition="right" matTooltip="edit details" aria-label="details">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
